[2015-06-19 18:56] munyirik opened #14 "During app launch, output window shows a bunch of exceptions thrown"
See output below. It doesn't seem to affect the running on an app but should be investigated.

'backgroundTaskHost.exe' (Script): Loaded 'Script Code (C:\windows\system32\backgroundTaskHost.exe)'.
Exception was thrown at line 138, column 13 in Unknown script code (1)
0x80004005 - JavaScript runtime error: unknown exception
Exception was thrown at line 138, column 13 in Unknown script code (1)
0x80

[2015-06-19 20:33] mikehall-ms opened #15 "console.log doesn't show in the VS Debug/Output Window"
when writing Node.JS applications it is common practice to use console.log to show certain events (app running, listening, REST/POST call received etc...). The current implementation of NTVSIoT doesn't show console.log output in the VS output window.

[2015-06-20 00:21] munyirik opened #17 "No Intellisense for UWP objects"

[2015-07-04 10:45] Dharshz opened #21 "There is no express 4 template in new Project dialog"

[2015-07-06 19:19] munyirik commented on #21
Hi @Dharshz. The latest release "NTVS Bundle VS 2015" has the Express 4 template. The "NTVS IoT Extension Beta VS 2015" installer does not have it.

[2015-07-06 23:19] mikehall-ms opened #23 "Deployment of Node Express UWP application to x86 fails"
installing NTVS from \\scratch2\scratch\munyirik\Node.js\BundleInstaller - generating a default Node Express UWP application, setting build to x86, configuring project properties for x86 device IP address, building and deploying fails with error message DEP0700: Registration of the app failed. Windows cannot install package Express4UWPApp6 because the package requires Architecture ARM, but this co

[2015-07-07 03:34] Dharshz commented on #21
Thank you for information. Hope it works normal as NTVS Bundle VS 2015

[2015-07-07 05:06] Dharshz opened #25 "Error : socket hang up error"
When trying to install typed definition files through the tsd. I am opening current directory through cmd and run "tsd install express"

[2015-07-07 15:54] munyirik commented on #23
Fix will be in the next release

[2015-07-07 19:25] munyirik commented on #25
Hi @Dharshz, I'm not able to reproduce this issue. It sounds like a problem that's independent of NTVS since you're just running the tsd command (i.e. you would see the error in a different directory as well). If you provide me with detailed steps to reproduce the issue I can investigate more.

[2015-07-08 04:26] Dharshz commented on #25
@munyirik I think this issue comes with the Network issue. I ran tsd install express within office network then I faced this issue but I tried with my home machine it worked fine. I suspect there is something related to network proxy. Thank you for your response

[2015-07-08 04:26] #25 closed

[2015-07-08 04:32] #21 closed

[2015-07-22 20:25] munyirik opened #26 "App crashes when startup script is not selected"
To repro:
1. Create new Node.js web server project
2. Create new js file to add to the project
3. Set it as the startup file.
4. Delete the file
5. Attempt to deploy to a device.

Result: Crash!
0x800a01b6 - JavaScript runtime error: Object doesn't support property or method 'setEncoding'

This happens in Node.js  "process.stdin.setEncoding('utf8');" line.

The problem here is that startupinfo.xml

[2015-07-24 01:15] BoolLi opened #27 "Can't build Node.js apps on VS 2015 with Windows 10 tools 23116.00"
Hello,

I'm using  VS 2015 RTM with Windows 10 tools 23116.00, and I followed the instructions here:
http://ms-iot.github.io/content/en-US/win10/samples/NodejsWU.htm
However, when I tried to build and run the app, I got the error message below:

    Error		Could not find SDK "Microsoft.VCLibs.AppLocal, Version=14.0".	NodejsWebServer3	C:\Program Files (x86)\MSBuild\14.0\bin\Microsoft.Common.Current

[2015-07-24 01:35] munyirik commented on #27
Hello @BoolLi
A new release will be available very soon that works with the RTM build. To get unblocked now, try the following:
1. Replace c:\program files (x86)\MSBuild\Microsoft\visualstudio\v14.0\node.js tools\Microsoft.nodejsuwp.targets with https://github.com/ms-iot/ntvsiot/blob/master/Setup/NodejsUwpFiles/Microsoft.NodejsUwp.targets
2. Add the following properties to your njsproj file -

[2015-07-24 14:41] BoolLi commented on #27
It works now! Thank you!

[2015-07-24 14:41] #27 closed

[2015-07-27 21:25] munyirik commented on #23
As a workaround for now, rebuilding (Build Menu -> Rebuild Solution) is required if architecture is changed.

[2015-07-31 02:08] tropicalnomad opened #29 "msi name for IoT Extension RC still has 'Beta' in it"
During installation, the name shown in the progress dialog is 'Beta' - it's actually the RC version but incorrectly named.

[2015-08-06 18:24] tropicalnomad commented on #29
Fixed.

[2015-08-06 18:24] #29 closed

[2015-08-11 18:11] munyirik opened #30 "Add TLS/Crypto support"
tls module is not supported at the moment. Next release will fix this issue.

[2015-08-11 18:16] munyirik opened #31 "Merge UWP changes upstream"
First step to support SerialPort on the Node.js console app is underway. It's possible to use it now but it requires a few extra steps until https://github.com/voodootikigod/node-serialport/pull/550 is merged.

This issue will track getting serialport working with the UWP compatible Node.js that comes with this release.

[2015-08-14 23:27] arturl opened #32 "Project deployment to an inaccessible remote machine fails with NullReferenceException"
This only happened once. After that, all attempts produced "Error: Unable to connect to the Microsoft Visual Studio Remote Debugger named '10.125.152.143'", which is good.

I suggest reviewing the code path for potential null-reference issues.

[2015-08-14 23:30] arturl opened #33 "Remote debugging fails with "Unable to open script document""
Set a breakpoint anywhere in the server.js, get this pop-up:

[2015-08-18 22:13] daveraskin opened #34 "NodeJS Express UWP build fails when utilizing Bower Packages"
Fails with "Payload contains two or more files with the same destination path".

This makes use of bower almost impossible since many components include an "index.js", "app.js" or some other such thing.

[2015-08-18 22:54] munyirik commented on #34
Hi @daveraskin, I wasn't able to reproduce this problem when I tried it. I have the latest tools installed, created a web server project, used the UI to install bower, and built successfully. Could you provide me the exact steps to reproduce if possible?

Another problem you will run into even though you are able to build is failure to deploy. The problem is that you have no control over where the

[2015-08-18 23:45] daveraskin commented on #34
@munyirik I created the project, installed the bower projects (from the powershell command line), included them in the project (because I was not able to utilize them otherwise), and built.  I wasn't aware there was a UI for installing bower components, so that may be my issue.  I am using node tools v 1.1 and have just upgraded to npm 3.2.2.

[2015-08-18 23:51] munyirik commented on #34
@daveraskin to do it through the UI, right click on the npm node in the solution explorer then select "Install new npm packages..." - > you can search for bower and then install.

[2015-08-18 23:57] daveraskin commented on #34
@munyirik The issue isn't actually with bower itself, but with the power packages once they're in my solution.  Bower installs the packages correctly, but once they're part of my solution, building throws the payload error.

[2015-08-19 00:01] daveraskin commented on #34
bower packages*

[2015-08-19 00:03] munyirik commented on #34
are the packages in the node_modules folder or the root where the project file is?

[2015-08-19 00:05] daveraskin commented on #34
@munyirik In the "public" folder one level below the root level, where the front end can access them.

[2015-08-19 00:14] munyirik commented on #34
I think that's the problem. The project system only knows how to copy npm package files that are in the node_modules folder. Is it possible to move the public folder?

[2015-08-20 18:51] daveraskin commented on #34
@munyirik it is not possible to move them into the node_modules folder or outside of the project folder.

[2015-08-20 18:57] munyirik commented on #34
@daveraskin To get unblocked try this workaround (it's basically how node_modules gets copied).
Open the following file as an admin: C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\Node.js Tools\Microsoft.NodejsUwp.targets

Add the following ItemGroup:

  <ItemGroup>
    <PublicDir Include="$(ProjectHome)\public"/>
  </ItemGroup>

Then in the CustomOutputGroupForPackaging target, add t

[2015-08-20 19:55] daveraskin commented on #34
@munyirik Thanks.  Is there a block of code missing after you say "add the following ItemGroup"?

[2015-08-20 20:35] daveraskin commented on #34
@munyirik It worked!  Thanks very much.  Since we're pushing express servers pretty hard on windowsondevices.com, it may behoove us to have something like this in place by default, since we claim to have support for bower and npm.  Since bower is mostly client-side packages, they will almost always be located in express's default "public folder".  Thanks again!

[2015-08-20 20:40] munyirik commented on #34
@daveraskin great! So there's actually an [Express template](http://ms-iot.github.io/content/en-US/win10/samples/NodejsWUExpress.htm) we provide that does create a public folder. It only has one file (public\stylesheets\style.styl). I'm curious how you put together your project (assuming you didn't use the template). What files do you have in your public folder?

[2015-08-20 20:48] daveraskin commented on #34
@munyirik I used the express template. the public folder is where all the server-side files and directories that the client will need to access (stylesheets, javascript files, etc.) which is why that's where my "bower_components" folder needs to be.  So, for people to be able to effectively utilize bower, they'll need the code you gave me in their Microsoft.NodejsUwp.targets file.

[2015-08-20 20:48] daveraskin commented on #34
where all the server-side files and directories that the client will need to access (stylesheets, javascript files, etc.) *are located* *

[2015-08-20 20:51] munyirik commented on #34
@daveraskin got it. thanks. Then let's leave this issue open and I'll fix asap.

[2015-09-02 20:33] munyirik commented on #33
@arturl Did you get this issue resolved? If I recall even debugging WinJS was broken.

[2015-09-02 20:41] arturl commented on #33
Yes, thanks. Issue was resolve by VS reinstall.

Artur

From: Munyiri Kamau [mailto:notifications@github.com]
Sent: Wednesday, September 2, 2015 13:33
To: ms-iot/ntvsiot <ntvsiot@noreply.github.com>
Cc: Artur Laksberg <Artur.Laksberg@microsoft.com>
Subject: Re: [ntvsiot] Remote debugging fails with "Unable to open script document" (#33)

@arturl<https://github.com/arturl> Did you get this issue re

[2015-09-04 21:36] munyirik commented on #30
This is provided in the latest release https://github.com/ms-iot/ntvsiot/releases/tag/v1.2

[2015-09-04 21:36] #30 closed

[2015-09-04 21:37] munyirik commented on #33
@arturl thanks. please close if it's no longer an issue.

[2015-09-04 21:39] munyirik commented on #34
@daveraskin the fix to include public folder been added to the latest release - https://github.com/ms-iot/ntvsiot/releases/tag/v1.2.

[2015-09-04 21:41] #33 closed

[2015-09-04 21:44] munyirik commented on #31
This is not built in yet to ntvsiot but it's now possible to build serialport that is compatible with UWP. See "Build SerialPort" on [this](http://ms-iot.github.io/content/en-US/win10/samples/NodejsWUCylon.htm) page for instructions on how to do that.

[2015-09-18 11:15] mikeptweet opened #47 "The activation request failed with error 'There are no more endpoints available from the endpoint mapper'."
Tried running the default NodeJs Web Server project on a fresh WIndows 10, VS 2015 machine (x64)

Can I Debug/Run the app on buld machine?

---------------------------
Microsoft Visual Studio
---------------------------
Unable to activate Windows Store app 'NodejsWebServer2_dg3rhm3j3sdc0!App'. The activation request failed with error 'There are no more endpoints available from the endpoint mapper'

[2015-09-18 18:51] munyirik commented on #47
Hi @mikeptweet
We currently don't support debugging or running the app on the build machine. Lets keep this issue open as I may have another update on this soon.
Do you have a Raspberry Pi 2 or MBM you can use?
Thanks.

[2015-09-18 19:09] mikeptweet commented on #47
OK ... thanks, I'm setting up a Raspberry Pi 2 to test

[2015-09-28 18:52] munyirik opened #48 "Upgrade doesn't uninstall previous version of the IoT Extension"
I've seen two cases where the Node.js UWP project is broken if someone had the first "NTVS IoT Extension" release and upgrades to the latest Node.js Tools for Windows IoT installer. The error is "Could not find SDK "Microsoft.VCLibs.AppLocal, Version=14"

This error happens because an earlier version of NTVS IoT Extension doesn't get uninstalled when the new Node.js Tools for Windows IoT installer

[2015-10-08 18:16] munyirik opened #49 "Cannot build appx package with valid startupinfo.xml with msbuild"
Currently there is no UI for building an appx that can be installed using the Device Portal web page but it's built automatically if the Node project is built through command line with msbuild. On the device Node.js will start based on the script and arguments that are in the startupinfo.xml file (packaged along with the app automatically if deployment happens with Visual Studio). The problem is t

[2015-10-13 17:28] munyirik opened #51 "Enable incremental copy (during deploy) for node_modules files"

[2015-10-22 21:56] kurolounet opened #52 "Express + Stylus : compiling CSS doesn't work"
Hello,

I create a project Express 4 (with Jade and Stylus for templage engine and preprocessor CSS).
But when I launch the debug (or deploy), .styl files don't want to compile in .css files.
I don't understand why. No errors.
Someone can help me, please ? Thank's.

I'm using Express 4, Jade v1.6.0 and Stylus v0.52.4.

This is my app.js code :

var express = require('express');
var path = require(

[2015-10-22 23:16] munyirik commented on #52
Hello @kurolounet,
I think what's happening is that the app cannot write (due to UWP app container restrictions) to the stylesheets directory. So the file is actually getting created in the local storage folder of the application (C:\Users\DefaultAccount\AppData\Local\Packages\...\LocalState\). It's not ideal (i.e. a bug) and what you should see in an error. I'll look into this but in the meantime

[2015-10-23 09:06] kurolounet commented on #52
Thx a lot.
I try to create the .css file and it works.

I didn't try the tool that you say but I will do later.

Thx again !

[2015-10-23 22:35] munyirik commented on #52
Hi @kurolounet, how did you try to compile it?

[2015-10-24 09:46] kurolounet commented on #52
I run the debug mode in my Raspberry Pi.
After that, I connect on it with 192.168.0.X.
I see the compiling css file in the LocalState but not in my project.

Do you need more information ?

[2015-10-24 20:21] munyirik commented on #52
Ok, easiest way to get unblocked is to add the file is to copy it from the device to the public\stylesheets folder in your project on your PC. Then in the project Solution Explorer, right click on the css file and select Include in Project. We'll fix this issue in a future release so keep this issue open. Thanks!!

[2015-10-24 21:40] kurolounet commented on #52
I've already done that. The only solution is to copy the file from the device (LocalState) to the desktop project on the PC and after, deploy it (or debug it). It's a little complicated but it's the only solution.

I'm waiting a future release to fix the issue. Thank's to you !

[2015-10-26 00:57] munyirik opened #53 "cylon-firmata fails to automatically install when new Cylon project is created (with latest version of Node)"
The error logs are below. The workaround for this bug is to:
1. Open package.json.
2. Press save (the second npm install command works).

npm WARN engine cylon@1.1.0: wanted: {"node":">= 0.10.20"} (current: {"node":"5.0.0-0","npm":"3.3.6"})
npm WARN engine serialport@2.0.2: wanted: {"node":">= 0.10.0"} (current: {"node":"5.0.0-0","npm":"3.3.6"})
npm WARN engine sf@0.1.7: wanted: {"node":">=0.6.0"}

[2015-10-26 01:01] munyirik commented on #48
This isn't a widely seen issue. Will close for now since there's a straightforward workaround.

[2015-10-26 01:01] #48 closed

[2015-10-26 01:02] munyirik commented on #15
Fix will be in the next release.

[2015-10-26 01:05] munyirik commented on #31
This will now track the progress with merging UWP changes upstream. This will allow for no extra steps to use serialport from NTVS IoT.

[2015-10-26 05:08] jaspreetd commented on #47
I am facing same deploying on emulator as well as local and also trying to deploy to Raspberry PI 2. I am getting this same error in all cases. I even tried turning off the firewall on my machine as read in other forums related to this error.

Please let me know if anyone has found any solution to this issue.

[2015-10-26 05:12] jaspreetd commented on #47
![capture](https://cloud.githubusercontent.com/assets/15318169/10721714/a0563520-7b7e-11e5-8f89-d5e31e18bf7e.PNG)

[2015-10-26 18:56] munyirik opened #54 "msbuild fails to build projects with recent VS/Windows 10 SDK"
Package.appxmanifest(31,9): error APPX1619: App manifest references the small logo image 'Assets\SmallLogo.scale-100.png' which does not ha
ve valid dimensions. It must be 44x44 pixels. [C:\Projects\NodejsWebServer5\NodejsWebServer5.njsproj]
Done Building Project "C:\Projects\NodejsWebServer5\NodejsWebServer5.njsproj" (default targets) -- FAILED.

[2015-10-26 18:57] munyirik commented on #54
Fix in next release.

[2015-10-26 22:53] munyirik commented on #47
Hi @jaspreetd, We'll be publishing instructions on how to deploy to your desktop machine very soon as part of the next Windows 10 IoT Core release.

[2015-10-26 23:08] jaspreetd commented on #47
Thanks Munyiri, looking forward for the fix and instructions.

Jaspreet

Sent from my iPhone

[2015-10-26 23:44] munyirik commented on #49
Fix will be in next release.

[2015-11-07 00:56] andreabeggiato-geekcups commented on #47
Hi guys,
I'm facing the same issue trying to debug an IBackgroundTask. I need to deploy it to a board?

[2015-11-07 15:40] bfjelds commented on #47
Currently, Background Application (IoT) and Node.JS Web Server requires deployment to a device.

[2015-11-10 23:22] munyirik commented on #26
Fixed in the next release.

[2015-11-11 20:09] munyirik commented on #53
Fix in next release. The problem is with addon.gypi where path to node.lib in the sdk (that's installed with Node.js Chakra) isn't set correctly.

[2015-11-30 23:49] #54 closed

[2015-11-30 23:49] #53 closed

[2015-11-30 23:49] #49 closed

[2015-11-30 23:50] #26 closed

[2015-11-30 23:51] munyirik commented on #15
Fix available in https://github.com/ms-iot/ntvsiot/releases/tag/v1.3

[2015-11-30 23:53] munyirik commented on #52
This is fixed in https://github.com/ms-iot/ntvsiot/releases/tag/v1.3

[2015-12-01 00:05] munyirik commented on #14
No repro with latest release (https://github.com/ms-iot/ntvsiot/releases/tag/v1.3) based on Node.js v5

[2015-12-01 00:20] munyirik commented on #14
Correction. It still happens but only for the Express app.

[2015-12-01 00:25] munyirik commented on #51
This already happens and can be seen in action when diagnostic logging is turned on...

...
File changed: 'C:\Projects\Express4UwpApp1\node_modules\accepts\index.js', new timestamp: '2015-12-01T00:22:16.737', old timestamp: '2015-11-30T19:34:37.195'
File unchanged: 'C:\Projects\Express4UwpApp1\node_modules\amdefine\amdefine.js', timestamp: '2015-11-30T19:34:37.164'
File unchanged: 'C:\Projects\Exp

[2015-12-01 00:25] #51 closed

[2015-12-04 21:41] munyirik commented on #47
Hello Everyone,
You can now deploy to Windows 10 desktop by allowing "Embedded Mode"
For instructions on how to do that please follow the instructions on this page: http://ms-iot.github.io/content/en-US/win10/EmbeddedMode.htm
Thanks.

[2015-12-04 21:42] munyirik commented on #52
@kurolounet Have you had a chance to trying out the latest release with the fix? Let me know so we can close this issue.
Thanks!

[2015-12-04 21:45] munyirik commented on #32
@arturl I could not reproduce this so I'm going to close this for now. Please feel free to reopen if you see it again and have repro steps.

[2015-12-04 23:36] #34 closed

[2015-12-04 23:36] #32 closed

[2015-12-04 23:37] #15 closed

[2015-12-05 01:56] andreabeggiato-geekcups commented on #47
Thanks!

[2015-12-05 08:56] kurolounet commented on #52
Yes, but it can't work for this moment. I can't launch the debug mode because there are errors. I think it's because my Windows IoT isn't updated.
I will update this and retry.

[2015-12-07 11:31] kurolounet commented on #52
I retry and it still doesn't work.
After some research, I found an article on Microsoft.com about that : VS2015 debugging mode can't run on the latest version of Windows IoT 10586.
http://social.technet.microsoft.com/wiki/contents/articles/32718.getting-visual-studio-debugger-running-on-latest-build-10586-of-windows-10-iot.aspx

I'm trying to find the previous version (10556) to find the RDBG fold

[2015-12-07 12:03] ZahoorBaloch commented on #47
Hello, I am trying to run Headless project of Alljoyn DSB on local machine, I have followed the given instruction but still I am having below error.

![headless](https://cloud.githubusercontent.com/assets/13497343/11626350/5e853e4a-9ce2-11e5-95d3-c97e4e39337c.png)

[2015-12-07 15:42] bfjelds commented on #52
Windows IoT 10586 does not come pre-configured with MSVSMON (the remote debugger contained in RDBG) because this build is intended to work with the latest Visual Studio update (http://blogs.msdn.com/b/visualstudio/archive/2015/11/30/visual-studio-update-1-rtm.aspx).  With this Visual Studio update, MSVSMON is pushed to the device and started as part of app deployment.  To make this happen you shou

[2015-12-07 15:54] bfjelds commented on #52
You can find more information about build 10586 at windowsondevices.com and about app deployment in the Hello World sample:  http://ms-iot.github.io/content/en-US/win10/samples/HelloWorld.htm.

[2015-12-07 16:19] munyirik commented on #47
Hi @ZahoorBaloch could you open Task Manager, go to the Services tab and check that "embeddedmode" service is running?

[2015-12-07 16:24] munyirik commented on #52
Node.js projects will use Universal authentication automatically so there's no need to set that (also there's no UI to set it). But as bfjelds mentioned build 10586 of Windows 10 IoT Core does not come with MSVSMON (i.e. the RDBG folder). Visual Studio deploys it automatically.
Is there a specific error message your seeing that you can share?

[2015-12-07 22:24] kurolounet commented on #52
Thank's a lot. It works.
I updated my VS2015 version and it works.

[2015-12-07 22:24] #52 closed

[2015-12-08 08:11] ZahoorBaloch commented on #47
No, it's not running, It has starting status.
![embeddedmode](https://cloud.githubusercontent.com/assets/13497343/11650660/232d764c-9d8b-11e5-9976-b948e34b0af1.png)

[2015-12-08 19:08] paulmon commented on #47
This looks like a problem that was fixed in the Windows 10 Fall Update (build 10586.)

[2015-12-08 19:12] munyirik commented on #47
Thanks @paulmon.
@ZahoorBaloch you can get more details about updating your machine with this link - http://windows.microsoft.com/en-us/windows-10/windows-update-faq

[2015-12-08 23:18] andreabeggiato-geekcups commented on #47
Hi,
first of all thanks for your works! Now I can debug a nodejs application, but if it is a web server application I can't reach it with my browser. If I start the debug and type in the browser http://localhost:port I didn't get any response. My firewall is turned off, but I think I'm missing something.

Bye!

[2015-12-09 02:41] munyirik commented on #47
Hi @andreabeggiato-geekcups, I *think* there's a restriction that blocks desktop apps (i.e. your browser) from accessing a server hosted by a UWP application (i.e. the Node.js UWP application). You should be able to access the server from a different machine or from a UWP application. I'll look into whether there's a workaround for you to use your browser and get back to you.

[2015-12-09 16:00] andreabeggiato-geekcups commented on #47
Thanks @munyirik, I can confirm that from another machine in the same network (I tried with a VM) it's work like a charm!

[2015-12-09 16:09] ZahoorBaloch commented on #47
Thanks Guys! I will update my machine and provide you feedback ASAP, Cheers.

[2016-01-02 04:21] aronbardsley opened #62 "Error deploying windows iot app with FileTypeAssociation declaration"
Hi,

Love the work you guys are doing.

I am attempting to add a file type association to my project (see below). I set all of the required properties as per the package designer and attempt to deploy my app locally but I receive the following error:
Severity	Code	Description	Project	File	Line	Suppression State
Error		Error : DEP0700 : Registration of the app failed. AppxManifest.xml(32,10): error

[2016-01-02 14:22] SteveALee opened #63 ""Git for Windows" is confusing"
In the [1.3 release](https://github.com/ms-iot/ntvsiot/releases/tag/v1.3) notes you have a link called **Git for Windows**. I suggest you  rename it as **Windows port of Git** as [Git for Windows](https://git-for-windows.github.io/) is a different tool which includes the git port and the MSYS Bash shell. Or perhaps change the link :)

[2016-01-04 13:41] SteveALee commented on #63
My bad - it is exactly the same installer executable. Arguably the 2nd link is more informative though

[2016-01-04 13:41] #63 closed

[2016-01-05 14:48] munyirik commented on #63
Hi @SteveALee Thanks for the suggestion. I'll use the 2nd link for the next release.

[2016-01-05 16:16] munyirik commented on #62
Hi @aronbardsley and thanks! (sorry for the delay...back from holidays). I'll look into this issue and get back to you.

[2016-01-06 19:37] jessekaplan commented on #62
Thanks for reporting this. The error message could definitely use some work, but it's not expected that you could register a BackgroundApp as a file extension handler. These handlers are strictly UI apps and go through an activation pathway that doesn't exist for background apps.

If you want to register a file handler in your app, you need to build a UI app to handle that and either include it in

[2016-01-06 21:38] aronbardsley commented on #62
Hi Jesse,

I'm writing an app that:
1. takes video from IP Cameras via RTSP
2. Performs some image processing on the video feeds
3. Stores important events on an external hard drive connected to the raspberry pi
4. Serves web requests
5. Synchronizes important events up to azure

My requirements meant that i had to make this deployable to a computing device with a small footprint (physical, electr

[2016-01-07 16:21] jessekaplan commented on #62
Ah ok. Yeah, you don't need to worry about the file association extensions for that. The file extension is basically used to specify that you want your app to be used when a user double clicks on a file to open it. You don't need to worry about that if you are just opening or saving files of a particular type.

As far as running them on the desktop is concerned, BackgroundApps, by default, only wo

[2016-01-08 21:37] aronbardsley commented on #62
Hi Jesse,

I don't have my raspberry pi handy at the moment, so I have been trying to get this to work with windows embedded mode on my desktop (just for debugging purposes).

I have done further testing and found that the following code will produce an access denied error in a BackgroundApp running on the desktop in embedded mode.

![image](https://cloud.githubusercontent.com/assets/16513722/1221

[2016-01-11 19:29] jessekaplan commented on #62
My apologies for the earlier incorrect answer, it does look like the File Extension Handler is required for removable storage access. We are looking into this with the owning team and may be able to address this in a future release.

In the meantime, you can work around this by creating an empty XAML app and then adding your background tasks to the VS solution and include those background tasks in

[2016-01-11 21:23] aronbardsley commented on #62
Hi Jesse,

No problem - I'll give the work-around a go in the next couple of days.
I look forward to any long term fix that could be provided for this

Thanks again for your help

[2016-01-13 02:11] munyirik opened #65 "console.log doesn't redirect to VS output window"
This is a regression caused by a change in the node binary. Will be fixed soon.

[2016-01-22 21:18] munyirik commented on #47
Closing this now since embedded mode will solve this issue. If any other issues are seen please feel free to open a new issue. Thanks!

[2016-01-22 21:18] #47 closed

[2016-01-22 21:20] munyirik commented on #31
Wrong place for this issue. PR should come from ms-iot/node-serialport.

[2016-01-22 21:20] #31 closed

[2016-01-22 23:59] munyirik opened #68 "Deployment to Windows 10 desktop fails"
Build succeeded.
Error : DEP6100 : The following unexpected error occurred during bootstrapping stage 'Connecting to the device '10.91.70.126'.':
DeviceException - The network event being waited on triggered an error.
========== Deploy: 0 succeeded, 1 failed, 0 skipped ==========

[2016-01-26 20:14] #68 closed

[2016-01-26 20:23] munyirik opened #70 "Add deploy option for phone target"

[2016-01-26 22:26] #23 closed

[2016-01-27 03:24] aronbardsley commented on #62
This is is now working with a UI app that is deployed to the raspberry pi. Selecting the file type extensions worked as expected (for the most part, see below). I can now access removable storage on the Raspberry Pi.

I did have one issue with the ttf file extension (font) which I couldn't register (the app store wouldn't let me deploy my app). I changed the file to a different extension as I was

[2016-01-27 03:24] #62 closed

[2016-01-27 20:59] alanch-ms opened #73 "Refactor deploy and bootstrapping code"
"The deploy and bootstrapping code is getting hard to read with all the if conditions. Not sure how possible is this, but bonus points to you, if you can refactor all the deploy / boostrapping code into virtual member functions of (class) Target. Then the projectcfg class can call the virtual function, this->currentTarget->Deploy()."

[2016-01-27 20:59] munyirik opened #74 "Refactor logic for target deployment"
Based this feedback - https://github.com/ms-iot/ntvsiot/pull/72#discussion_r51040379

[2016-01-27 20:59] #74 closed

[2016-01-27 20:59] munyirik commented on #74
duplicate

[2016-01-29 09:11] rcoccia opened #77 "what about supporting alljoyn libraties like https://github.com/octoblu"

[2016-01-29 19:23] trmck opened #78 "Package.appxmanifest fails to open in App Manifest Designer"
The Package.appxmanifest file fails to open with the Visual Studio App Manifest Designer. It can only be opened as an XML or Text file.

[2016-01-29 20:33] munyirik opened #79 "Breakpoint doesn't get hit if it's on the first line of code"

[2016-01-29 20:37] munyirik commented on #77
Hi @rcoccia,
Thanks for the suggestion. It's something we should look into.

[2016-01-31 04:12] #70 closed

[2016-01-31 04:12] #65 closed

[2016-02-02 18:56] rondagdag opened #80 "Error in deployment"
I'm getting this error when I deploy to Raspberry Pi my CylonJS project.

I know the file exist, I verified it.

Severity	Code	Description	Project	File	Line	Suppression State
Error		Error : DEP2100 : Cannot copy the file "C:\CylonUwp1\CylonUwp1\node_modules\cylon-firmata\node_modules\firmata\node_modules\serialport\node_modules\node-pre-gyp\node_modules\minimatch\node_modules\brace-expansion\node_

[2016-02-02 19:01] munyirik commented on #80
Hi @rlyle78 do you have the latest version of the tools installed? i.e. v1.5.1?

[2016-02-02 19:07] munyirik commented on #80
That error is happening because the file path for example.js is [too long](https://github.com/Microsoft/nodejstools/issues/69) to be deployed to the device. To remedy this problem (if you have version 1.5.1 installed), right-click on the npm node in Solution Explorer and then click on 'Update npm Packages'. This will run "npm dedupe" which should then move node-pre-gyp module under CylonUwp1\node_

[2016-02-04 22:49] munyirik commented on #80
I'll close this now. @rlyle78 if you have any more questions please let me know. Thanks!

[2016-02-09 01:59] munyirik commented on #80
I was able to reproduce this issue and my previous instructions wouldn't solve the problem. If you only have J5 installed then you're fine. BUT if you have packages that are different versions of packages that node-pre-gyp depends on, then there's a problem. node-pre-gyp won't flatten out with the npm dedupe command. I found a workaround (which isn't great) but it worked for me.
* I deleted the no

[2016-02-12 22:00] munyirik commented on #77
Hi @rcoccia, have you tried using https://github.com/octoblu/meshblu-npm with this project? My guess is that it should work.

[2016-02-19 17:47] munyirik opened #81 "usb npm package support"
https://www.npmjs.com/package/usb

[2016-02-19 17:48] munyirik opened #82 "noble npm package support"
https://www.npmjs.com/package/noble

[2016-04-01 00:29] michaelderemer opened #84 "NTVS 2.1 Alpha nodejs universal app project templates not listed"
My Env:
Latest version of iot 10586 on my raspie2
Visual Studio 2015 version 14.0.25123.00 Update 2
Ran prereqs listed here:  https://github.com/ms-iot/ntvsiot
Installed NTVS 1.2 Alpha VS  2015.msi
Installed node-chakra-x86.msi

With NTVS 1.2 Alpha i no longer see any nodejs projects that are "universal app project"

Granted i have installed/Uninstalled about every combination of node tools. With

[2016-04-01 02:35] munyirik commented on #84
Hi @michaelderemer, could you check in Control Panel\Programs\Programs and Features if Node.js Tools for UWP Apps is installed?
I'm wondering if somehow the standalone 1.2 Alpha install removed it.

P.S. I'm testing v1.5.3 at the moment (which has 1.2 Alpha) and will be releasing it soon.

[2016-04-01 03:24] munyirik commented on #84
@michaelderemer I missed the step that you were running the prereq build and debug steps. Are you trying to build and debug this project? If so are you saying you're not seeing the templates in the experimental instance of Visual Studio?

[2016-04-01 04:27] munyirik commented on #84
I'd be happy to help:-)
Could you verify if the error is happening on deploy (Build menu->Deploy Solution) or when it's launched (Debug menu -> Start debugging)? this will help isolate the issue.
Also is there an error code with the error message?

[2016-04-01 05:19] michaelderemer commented on #84
I got a c# universal app to deploy!
I cannot get the nodejs webserver universal app to deploy though still.
Deployed using Debug-> Start Debugging
Alert says Unable to start debugging. Operation not supported. Unknow error 0x8007057
Output windows says: DEP 3310: Unable to deploy an x86 package to an ARM device. Change the build config to ARM or Nuetral, or change the debug target to an emulator o

[2016-04-01 16:55] munyirik commented on #84
Strange. Looks like you ran into https://github.com/ms-iot/ntvsiot/issues/23 but it was fixed a while back. Can you try 'Rebuild' first and then try and deploy?

[2016-04-01 19:00] michaelderemer commented on #84
I was able to get a brand new nodejs webserver universal app project to deploy once. However when I included the uwp npm package and pasted in the nodeblinky code. The deploy failed several times.

I repasted the original nodejs webserver code and saved.

Try 1) Build btn> rebuild > deploy > -No errors in output or alerts just deploy failed in lower left.

Try 2) Build btn > Clean Build > build >

[2016-04-01 20:04] munyirik commented on #84
Sorry about issues you're running into. And thanks for detailed info. Couple of things.

1. I'll update the "Build and debug" section in the README. I can see how the instruction there can be taken to mean building and debugging Node.js apps (the instructions are only mean for contributors to build and debug the code in this repository).

2.  The uwp npm package is actually included automatically

[2016-04-11 20:53] munyirik opened #86 "Unable to install TS definition file with tsd"
The latest release of NTVS (1.2 Alpha) will automatically get the node.d.ts typescript definition file for ES6 intellisense to work - when this happens the error below happens.
...
[ERR!] node : v5.7.1-0
[ERR!] tsd : 0.6.5
[ERR!] Error: RegExp.prototype.sticky: 'this' is not a RegExp object
[ERR!] CODE : undefined
[ERR!] RegExp.prototype.sticky: 'this' is not a RegExp object

**Root cause:**
https

[2016-04-12 02:25] munyirik opened #87 "Deployment error with serialport v2.1.0 - system cannot find the path specified."
**Repro steps:**
1. Install latest tools.
2. Create new Cylon or J5 project.
3. Click 'npm' node in solution explorer and run 'Update npm packages...'
4. Press F5 to deploy.

**Result:**

Severity	Code	Description	Project	File	Line	Suppression State
Error		Error : DEP2100 : Cannot copy the file "F:\Projects\JohnnyFiveUwp1\node_modules\node-pre-gyp\node_modules\request\node_modules\har-validator\no

[2016-04-12 02:29] munyirik opened #88 "serialport for UWP cannot connect to multiple COM ports."
This is an issue that will be tracked here but fixed in https://github.com/ms-iot/node-serialport/tree/uwp

[2016-04-12 03:11] munyirik commented on #17
This is fixed with the ES6 Intellisense that NTVS now has ([link](https://github.com/Microsoft/nodejstools/wiki/ES6-IntelliSense-Preview-in-NTVS-1.1)).
To get it working:
* Ensure you have the 'ES6 IntelliSense Preview' option set under Tools > Options > Text Editor > Node.js > IntelliSense.
* Right click on your project in the Solution Explorer and select 'Open Command Prompt Here...'
* Run npm i

[2016-04-12 03:11] #17 closed

[2016-04-15 15:24] michaelderemer opened #90 "Thank you guys for your work!!"
1.5.3 was the first version that installed and worked easily and without any problems. Thank you guys for your hard work. Thanks for cleaning it up. Its just gonna keep getting better! So crazy that i'm coding windows apps for an ARM machine. Tell Bill G i said thanks :) So exciting. Good stuff.

[2016-04-15 17:27] munyirik commented on #90
Great to hear! And thanks for the kind works. Please let us know if you run into any more issues, have questions, suggestions, etc.

[2016-04-15 21:01] AmadeusW opened #91 "Deployment to Windows Phone 10"
Hi, I'm trying to deploy  [‘Hello, World’ Node.js (Windows Universal) Sample](https://ms-iot.github.io/content/en-US/win10/samples/NodejsWU.htm) sample app to Windows Phone OS 10.0.14295

Whether I provide my phone's IP or leave `Remote Machine` blank, I get this error when I deploy. I couldn't find anything about it on line.
[code]
![](https://i.gyazo.com/2123819d7c0262396c662882977100ea.png)

Is

[2016-04-15 22:28] AmadeusW commented on #91
Update: I enabled [Embedded Mode](https://ms-iot.github.io/content/en-US/win10/EmbeddedMode.htm) on both PC and phone. Now when I'm deploying to Remote Machine using the phone's IP it asks me for PIN.

I tried both my device PIN as well as a code under **Device Discovery -> Pair**, it didn't work.
![2016-04-15_15h18_17](https://cloud.githubusercontent.com/assets/1673956/14576462/18648efa-031e-11e6

[2016-04-15 22:42] munyirik commented on #91
Hi @AmadeusW,
Yes, deploying to PC or Phone is supported. For the deployment target for Phone you need to use Device (not Remote Machine). The PIN entry is something you shouldn't need to do...and it doesn't work:-). To get it working you need to do the following is done:

1. Enable Embedded Mode (looks like you already did this).
2. Settings->Update & Security->For Developers->Developer Mode set.

[2016-04-15 23:06] AmadeusW commented on #91
The settings are set like you specified. I'm now deploying to the device.
I reverted the registry flag and updated Universal Tools to v1.3.1.
This gets me one step further:

![2016-04-15_16h04_49](https://cloud.githubusercontent.com/assets/1673956/14577049/ca5b3686-0323-11e6-9d71-55d5d4ecb0ee.png)

Debug output is empty and a breakpoint wasn't set.
Could it be that the app quits since it has no UI

[2016-04-15 23:11] munyirik commented on #91
Can you try with the latest tools ([1.5.3](https://github.com/ms-iot/ntvsiot/releases/tag/v1.5.3))? v1.3.1 didn't support deployment to phone.
The app will quit if you don't have code that's waiting (e.g. if you're just doing a console.log vs. having a server waiting for requests).
You shouldn't see that error message ('Unable to activate...') if everything is working correctly.

[2016-04-15 23:53] AmadeusW commented on #91
Oh, I meant this v1.3.1 (and VS2015 update 2)
![](https://i.gyazo.com/7378035d23e153abdcb7bcc342ae302f.png)
It still didn't work with the same error.

I've tried on another pc that has VS2015 update 2, Universal tools v 1.2 and Node.js Tools for UWP Apps 1.5.3
It also didn't work, with the same error.

I guess my phone is the culprit. Here are the settings:
![wp_ss_20160415_0002](https://cloud.git

[2016-04-16 00:03] munyirik commented on #91
Could you tell me what the OS build number is for the phone? You can get it in Settings -> System -> About -> More Info.

[2016-04-16 00:07] AmadeusW commented on #91
BLU WIN HD W510u
Version: 1511
OS build: 10.0.14295.1000

[2016-04-16 00:11] munyirik commented on #91
Ah! looks like you ran into a issue that's been fixed on newer builds. I'll find out if it's possible to get you an update...

[2016-04-16 00:27] AmadeusW commented on #91
Nice! I'm on the fast ring of insider updates.

[2016-04-16 01:04] munyirik commented on #91
Is 14295 the newest insider build you have access to?

[2016-04-16 05:00] AmadeusW commented on #91
It works like a charm on 14322 :) Thank you for help!

Can you tell me more about application lifecycle on the phone? How do I turn the app off? How do I turn it on? Is there a sample that provides a basic ui? I really just need a way to turn the app on or off, and perhaps display a status message on the phone's screen.

[2016-04-16 05:00] #91 closed

[2016-04-16 06:13] AmadeusW commented on #91
I'm looking for a sample with a UI because I need to get a permission to use capabilities like geolocation, and of course I would like to control when the app is on and off.

I tried to incorporate elements of [Windows-universal-samples - Geolocation](https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/Geolocation) into this server but couldn't get geolocation to work (maybe

[2016-04-17 21:51] munyirik commented on #91
The application is a [background/startup application](http://ms-iot.github.io/content/en-US/win10/BackgroundApplications.htm) (see more info in the link) so it's not designed to have a UI. The way an application would be set up is with the [iotstartup tool](https://ms-iot.github.io/content/en-US/win10/tools/CommandLineUtils.htm) and would be stopped with kill.exe.
If you want to display something

[2016-04-18 18:06] munyirik commented on #84
closing since the 1.5.3 release resolved this issue.

[2016-04-18 18:06] #84 closed

[2016-04-18 18:06] #90 closed

[2016-04-20 04:22] AmadeusW commented on #91
Thanks. I think I get it: the application is launched by the OS at startup and does its work without any user interaction.

How do you communicate with a background task? The IPC is quite limited in Universal Apps, but I saw that [App Service](https://msdn.microsoft.com/en-us/windows/uwp/launch-resume/how-to-create-and-consume-an-app-service) is also a background app that can process a `Request` a

[2016-04-20 06:06] AmadeusW commented on #91
Okay, I think I get it. It would be great to have node.js running in a headed app that user can install from the store, run, close and uninstall. Thanks for help!

[2016-04-20 06:12] AmadeusW opened #92 "Access is denied when accessing geolocation data"
Headless mode (Background task) doesn't ask the user for permission to use the location, and hence we get an error on `getGeopositionAsync()`:
[code]
Adding `<DeviceCapability Name="location"/>` is not enough. User needs to go to Settings and allow the app to access location:
![wp_ss_20160419_0001](https://cloud.githubusercontent.com/assets/1673956/14664930/0d208562-0684-11e6-89e5-72fa3aed2d85.png

[2016-04-20 15:37] munyirik commented on #91
Thanks for the feedback @AmadeusW. That's something we are considering.

[2016-04-20 15:40] munyirik commented on #92
This is by design for side-loaded apps like IoT background apps. If an app is installed through the store then I think that's when the OS would ask for permission. Let's keep this open until I've confirmed.

[2016-04-26 18:15] dick opened #93 "serialport list ports returning undefined manufacturer, etc."
I managed to get serialport working with a Raspberry Pi 2 and Windows IOT with some teeth-gnashing (will open another issue for serialport.node being searched for in wrong folder).

Now that the module is loading, serialport.list() is not responding the way I expect it to.

Code:
var serialPort = require('serialport');

serialPort.list(function (err, ports) {
    if(err) {
            console.log(

[2016-04-26 18:42] munyirik commented on #93
Hi @dick  and sorry about the teeth-gnashing. There's still work to do to get npm aware of the UWP platform. For now you should be able to get the right serialport by 'right click npm node in Solution Explorer -> Update npm packages...' That should be putting serialport.node in the right folder if you're using > v2.1.0. Please open an issue if it's not.
The information I provide is based on the [S

[2016-05-06 09:52] stanleyoho opened #94 "the procedure entry point JsInstanceOf could not be located in the dynamic link library"
hello i can't excute Node.js (chakra) command prompt.

when i open it , will show this error message "the procedure entry point JsInstanceOf could not be located in the dynamic link library C:\Program File\NodejsUwp\Console\node.exe"

anyone know this ?

[2016-05-06 15:04] munyirik commented on #94
Hi @stanleyoho,
What version of Node.js (chakra) do you have? You can check the 'Version' column in 'Control Panel\Programs\Programs and Features'
Also can you tell me what version of Windows you have? (you can copy/paste the output from the command `systeminfo | findstr /B /C:"OS Name" /C:"OS Version"`).

[2016-05-15 15:46] dick commented on #93
Hi @munyirik thanks for the info.

Is comName the proper parameter to pass to serialport when creating a new port? serialport.list is properly finding 'UART0' for me, but I get a mysterious "The program '[2496] backgroundTaskHost.exe' has exited with code 3 (0x3) error" when serialport tries to open a port with 'UART0' as the input.

I have had success opening a port by assigning a port to "COM0"

[2016-05-15 18:03] munyirik commented on #93
'UART0' should work so I think that's a bug. I'll try it out when I get in the office tomorrow.

[2016-05-15 18:40] dick commented on #93
Thanks! One more piece of info -- I'm having similar experience with device strings as well. Would you expect "FTDIBUS\VID_0403+PID_6001+AH02X2K9A\0000" to be a valid input?

[2016-05-15 20:16] munyirik commented on #93
Yeah, that's valid but after looking at the code that parses the name (see [this](https://github.com/munyirik/node-serialport/blob/uwp/src/serialport_uwp.cpp#L26)), it will fail. The code expected the device string to start with "USB". I can fix that.
In the meantime, can you communicate with the device if you manually assign a port name to it?

[2016-05-16 02:12] dick commented on #93
Yes, that one also seemed to open when I manually assigned a port name.

[2016-05-16 20:02] munyirik commented on #93
Ok, I know what's going on with UART0. The way the names are parsed is a little broken. You should be able to just copy the name you get with list() and paste it in open() which isn't happening. I'll fix this for the next release.

[2016-06-10 21:27] modembug opened #97 "typings : typings ERR! message Unable to find "winrt-uwp" ("npm") in the registry."
PM> typings install winrt-uwp --global
typings : typings ERR! message Unable to find "winrt-uwp" ("npm") in the registry. Did you want to try searching another source? Also, if you want contribute these typings, please help us: https://github.com/typings/registry
At line:1 char:1
+ typings install winrt-uwp --global
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (

[2016-06-10 23:24] munyirik commented on #97
Hi @modembug, the command in the documentation (from notes in the last release) is "typings install winrt-uwp --ambient" - Is there another place where you saw the "--global" command?

[2016-06-10 23:39] modembug commented on #97
From what I read ambient has been replaced by global. If you do not specify the source with dt~ it will throw the error as it defaults to npm apparently.

Sent from Nine<http://www.9folders.com/>
________________________________
From: Mũnyĩrĩ Kamau <notifications@github.com>
Sent: Jun 10, 2016 4:25 PM
To: ms-iot/ntvsiot
Cc: Aaron Labiosa; Mention
Subject: Re: [ms-iot/ntvsiot] typings : typings ERR

[2016-06-11 00:05] munyirik commented on #97
Ah okay. What version do you have?

[2016-06-11 01:04] modembug commented on #97
Of visual studio? 2015

Sent from Nine<http://www.9folders.com/>
________________________________
From: Mũnyĩrĩ Kamau <notifications@github.com>
Sent: Jun 10, 2016 5:06 PM
To: ms-iot/ntvsiot
Cc: Aaron Labiosa; Mention
Subject: Re: [ms-iot/ntvsiot] typings : typings ERR! message Unable to find "winrt-uwp" ("npm") in the registry. (#97)

Ah okay. What version do you have?

-
You are receiving this b

[2016-06-11 01:07] munyirik commented on #97
I meant typings but nevermind. I saw what you stated on [their page](https://www.npmjs.com/package/typings) that --ambient is now --global. Thanks for the tip @modembug !!

[2016-06-12 02:21] munyirik commented on #97
I've updated the instructions on https://github.com/ms-iot/ntvsiot/releases/tag/v1.5.3

[2016-06-12 02:21] #97 closed

[2016-06-14 18:50] karlssja commented on #93
The following code works for me (I am using a FTDI USB to Serial converter)
[code]
Please note that the comName used to open the port and reported is different. The Device manager says ID : USB\VID_0403&PID_6001\A10121CF

Changing it to UART0 gives a code 3 (0x3) error. It would have been nice to be able to use the internal UART to.

[2016-06-28 03:00] munyirik commented on #93
FYI currently working on this. UART will be fixed too.

[2016-06-29 17:00] munyirik commented on #94
@stanleyoho I'm closing this for now. Please re-open if this is still an problem for you.

[2016-06-29 17:00] #94 closed

[2016-07-05 20:10] munyirik commented on #87
Going to close this since it's similar to https://github.com/ms-iot/ntvsiot/issues/80 where the root cause is long paths.

[2016-07-05 20:10] #87 closed

[2016-07-05 22:10] munyirik commented on #92
Sorry for the delay. This looks like it's by design at least for now. With a UI (headed) app the call to Windows.Devices.Geolocation.Geolocator.requestAccessAsync the OS is supposed bring up a prompt. For a background app (headless) it's not designed to.

[2016-07-05 22:10] #92 closed

[2016-07-05 22:16] #77 closed

[2016-07-05 22:49] munyirik commented on #86
Root cause fixed so it will be available in next release.

[2016-07-06 09:07] EdiWang opened #99 "Please pack NTVS.1.2.RC.VS.2015 into the installer"
The latest NTVS is 1.2 RC now. Please update NTVSIOT installer to include that package.

[2016-07-06 16:22] munyirik commented on #99
Hello @EdiWang I'm planning on releasing it next week.

[2016-07-07 16:03] nobodykid commented on #73
I got this error during the deployment process

Error	 DEP6701 : Bootstrapping failed with unexpected error: 'Unable to load one or more of the requested types. Retrieve the LoaderExceptions property for more information.'.	NtvsUWPTest

[2016-07-07 17:19] munyirik commented on #73
Hi @nobodykid. Can you share these details:
1. Version of Visual Studio do you have (e.g. Visual Studio Community Update 2).
2. Version of Node.js Tools for UWP Apps (I'm assuming it's 1.5.3).
3. Type of device you are deploying to and the Windows build number.
Thanks.

[2016-07-07 23:22] nobodykid commented on #73
I'm currently using Visual Studio Community 2015 Update 3 with the latest Node.js Tools for UWP (1.5.3)

I tried to deploy this to my Raspberry Pi 2 B with Windows 10 IoT Core Insider Preview

[2016-07-08 08:38] EdiWang commented on #99
@munyirik Thanks!

[2016-07-11 20:28] munyirik commented on #73
I'll try and reproduce this today. Can you confirm that the build number for the insider build you have is 14376?

[2016-07-11 22:09] munyirik commented on #73
I just tried with 14376 and didn't see this problem. I saw online that a similar error has been seen ([link](https://forums.xamarin.com/discussion/70249/after-visual-studio-update-3-xamarin-4-1-1-3-cannot-deploy-to-windows-uwp-phone-or-8-1-phone-emula)) and it may be an issue with the SDK. Can you try installing the standalone Windows 10 SDK from [here](https://developer.microsoft.com/en-us/window

[2016-07-11 22:11] munyirik commented on #73
Also I'll create a different issue since this one tracks work for code refactoring.

[2016-07-11 22:15] munyirik opened #100 "Error DEP6701 : Bootstrapping failed with unexpected error: 'Unable to load one or more of the requested types. Retrieve the LoaderExceptions property for more information."
Issue to track bug that @nobodykid is seeing where the error in the title is seen when attempting to deploy.
@nobodykid's environment:
Visual Studio Community 2015 Update 3
Node.js Tools for UWP (1.5.3)
Raspberry Pi 2 B with Windows 10 IoT Core Insider Preview

My last note:
I just tried with 14376 and didn't see this problem. I saw online that a similar error has been seen (link) and it may be an

[2016-07-12 00:59] playbass commented on #62
Any word from the owning team if a fix for headless apps accessing remove storage is coming in a future release?

[2016-07-12 09:47] StrahilKazlachev opened #101 "Error when trying to install uwp package"
I get the following error when I `npm install uwp`
`C:\Program Files\NodejsUwp\Console\node_modules\npm\node_modules\node-gyp\src\win_delay_load_hook.c(34): error C2373: '
__pfnDliNotifyHook2': redefinition; different type modifiers [e:\dev\samples\node-uwp\node_modules\uwp\build\uwp.vcxpro
j]`
* ntvsiot 1.5.3
* VS Community 2015 Update3
* Tried it both on Win10 with latest updates and the latest

[2016-07-12 17:30] munyirik commented on #101
Hi @StrahilKazlachev, so running "npm -g install npm@next " didn't work for you?

[2016-07-12 18:25] StrahilKazlachev commented on #101
I did try, but the npm version stayed 3.8.3. I can't manage to change the npm that node-chakra is using.

[2016-07-12 18:28] munyirik commented on #101
Ok, I'll look into this...

[2016-07-12 18:31] munyirik commented on #101
BTW, I'm assuming you're going to use the uwp package with the console version of node. If you're using node UWP (i.e. creating the app from Visual Studio) then it (uwp.node) will be packaged automatically in your app.

[2016-07-12 18:36] StrahilKazlachev commented on #101
Will try it that way. I wanted do a simple console demo/sample.

[2016-07-12 21:22] munyirik commented on #101
FYI. This will be fixed in the release for this week. It was fixed in the node branch with this commit - https://github.com/nodejs/node-gyp/commit/f31482e2260e3beb90d959c62135e5e95c06ed4d
You can make the change yourself if you need it asap. The changes in the commit correspond to the following files:

- [program files]\NodejsUwp\Console\node_modules\npm\node_modules\node-gyp\src\win_delay_load_ho

[2016-07-12 21:35] munyirik opened #102 "Tools should include SDK to build native addons targeting UWP"
If someone runs 'npm install serialport' they install serialport that works with the console app. For node UWP the native package needs to be downloaded through VS (see [this](https://developer.microsoft.com/en-us/windows/iot/win10/samples/nodejswuj5)). Users should be able to run something like 'npm install foo --uwp' to build packages with native addons that can work within UWP apps. This would

[2016-07-13 05:15] StrahilKazlachev commented on #101
Thank you. For now I'm good using VS as you suggested.

[2016-07-15 02:05] munyirik commented on #99
Here it is - https://github.com/ms-iot/ntvsiot/releases/tag/v1.5.4.

[2016-07-15 02:05] #99 closed

[2016-07-15 02:10] munyirik commented on #80
Now that there's a way to remove the path length limit on Windows, this may not be a problem for much longer - https://news.slashdot.org/story/16/05/31/0012222/microsoft-removes-260-character-path-length-limit-in-windows-10-redstone

[2016-07-15 02:10] munyirik commented on #101
Issue is fixed in the latest release

[2016-07-15 02:10] #101 closed

[2016-07-15 02:11] munyirik commented on #88
issue is fixed in latest release

[2016-07-15 02:11] #88 closed

[2016-07-15 02:11] #86 closed

[2016-07-15 02:19] munyirik commented on #93
The serialport issues should be fixed in latest release. Let me know if you run into any other issues.
Things to note:

* You'll still need to run the 'Update npm packages...' command to get the latest UWP serialport with the fix. In future I'll be working on issue #102 so that the patch isn't required anymore.
* manufacturer is only going to be [listed if it's available](https://github.com/munyir

[2016-07-15 02:19] #93 closed

[2016-07-15 02:20] munyirik commented on #81
Will not track package work in this repo (only serialport and only for the short term).

[2016-07-15 02:20] #81 closed

[2016-07-15 02:20] munyirik commented on #82
Will not track package work in this repo (only serialport and only for the short term).

[2016-07-15 02:20] #82 closed

[2016-07-15 02:21] munyirik commented on #100
Closing for now. If reinstalling the SDK didn't work please let me know.

[2016-07-15 02:21] #100 closed

[2016-07-15 02:22] munyirik commented on #14
Will not track package work in this repo (only serialport and only for the short term).

[2016-07-15 02:22] #14 closed

[2016-07-15 07:29] StrahilKazlachev commented on #101
Works nicely.

[2016-07-15 18:10] karlssja commented on #93
Latest fix returns errors

Using MS VS 2015 Update 3
npm install serialport 4.01

Download complete.
Extracting serialport UWP patch.
Extraction complete.
**Error. C:\Users\...\serialportpatch\uwp\serialport.js does not exist**
Copying C:\Users\...\serialportpatch\uwp\ARM\serialport.node to C:\Users\...\node_modules\serialport\build\Release\serialport.node
serialport UWP patch applied!

var Serial

[2016-07-15 18:14] munyirik commented on #93
Hi @karlssja. Please install https://github.com/ms-iot/ntvsiot/releases/tag/v1.5.4. It should fix that error.

[2016-07-15 18:21] munyirik commented on #93
Also backgroundTaskHost exit code 1 can be ignored for now. node UWP currently doesn't pass it's error code to backgroundTaskHost so it's not useful for debugging node errors. It should be 0 if nothing went wrong though. It's a known issue I haven't yet looked into.

[2016-07-15 18:25] munyirik commented on #93
One more thing. For you device, use the string "\\\\?\\FTDIBUS#VID_0403+PID_6001+A10121CFA#0000#{86e0d1e0-8089-11d0-9ce4-08003e301f73}"
i.e. double the backslashes.

[2016-07-15 19:17] karlssja commented on #93
Installing v1.5.4 fixed my errors!
Now the internal serialport UART0 on my Pi2  works!
also the FTDI usb adapter works after changing the comName as you suggested!

Brilliant job!!! Thank You!

[2016-07-15 19:19] munyirik opened #104 "backgroundTaskHost exits with code 1"
backgroundTaskHost exits with code 1 even though there is no failure. The problem is that node does not pass back the return code (https://github.com/ms-iot/node-uwp-wrapper/blob/master/Headless/nodeuwp/StartupTask.cpp#L93) to the host wrapper. After node is done we should exit immediately with the return code from node.

[2016-07-15 19:20] munyirik commented on #93
Glad to hear it. Also I've opened an issue about the exit code and I'll fix that soon - https://github.com/ms-iot/ntvsiot/issues/104

[2016-07-22 12:27] nobodykid commented on #100
Solved the problem, and it's because my (somehow broken) VS. Besides these, I had several problem, such as unable to open appx.manifest on any UWP template.

I did repair on VS, reinstalling everything (NTVS and NTVS-UWP), and it worked.

Sorry for the late update

[2016-07-22 17:53] munyirik commented on #100
Glad to hear it. Thanks for the update.

[2016-08-01 14:50] dick commented on #80
Any tips on avoiding the filename length error on NTVS 1.5.4? I upgrade to try the SerialPort fixes, followed your comment above about deleting node_modules, and I'm still getting this error:

Severity	Code	Description	Project	File	Line	Suppression State
Error
DEP2100 : Cannot copy the file "C:\Users\dick\documents\visual studio 2015\Projects\petropi5\petropi5\node_modules\node-pre-gyp\node_module

[2016-08-01 21:09] munyirik commented on #80
Hi @dick, Can you try running "npm dedupe" in C:\Users\dick\documents\visual studio 2015\Projects\petropi5\petropi5\node_modules?

When I do that on my machine it flattens the modules in the path you have. i.e. I see -
[my project]\node_modules\request
[my project]\node_modules\har-validator
[my project]\node_modules\is-my-json-valid
[my project]\node_modules\generate-object-property
[my project]\

[2016-08-02 16:41] dick commented on #80
@munyirik npm dedupe in the folder didn't help.

I tried running through your steps above again (starting with deleting the node_modules folder), with one slight change from the first time I did it. After selecting "Install missing npm packages," Visual Studio prompts me to run npm dedupe. This time I told Visual Studio to ignore the issue, then selected "Update npm packages." Npm dedupe had a lot

[2016-08-03 15:02] munyirik commented on #80
If the request module is still in node-pre-gyp then is there another version that is in [my project]\node_modules\request? If there's a version of request at the root and node-pre-gyp depends on a different version of request then what you're seeing is normal.
In this case you can delete the request directory in petropi5\node_modules\node-pre-gyp\node_modules.
This will mean that node-pre-gyp will

[2016-08-05 02:52] PeterSawyer commented on #62
@jessekaplan any progress on log term fix for this?

[2016-08-05 03:59] LabbiqX commented on #80
I was getting the same error, but I solved the issue.
The main problem is a bug of "npm dedupe". The dedupe command can not reduce all the duplicates.

To solve the problem follow these steps.
1. Run "npm dedupe" command in "PROJECT_DIR\node_modules".
2. Deploy the project and see the error. Find "PROJECT_DIR\node_modules\A_MODULE\node_modules\\....."
3. Run "npm dedupe" command in "PROJECT_DIR\no

[2016-08-09 22:24] paulmon opened #107 "error deploying basic johnny-five project on x86"
I am seeing this error (below)
I have a zip file with the project that has issues, but it's essentially the output from the new project wizard

------ Deploy started: Project: j5b, Configuration: Release x86 ------
Creating a new clean layout...
Copying files: Total 26 mb to layout...
DEP8000 : Unexpected deployment failure : AggregateException : One or more errors occurred.
DEP0600 : The followin

[2016-08-12 14:17] obastemur opened #108 "Missing Doc Pages"
[code]

See https://github.com/Microsoft/ChakraCore/issues/1428

[2016-08-12 15:21] munyirik commented on #108
I've commented on the issue in the ChakraCore repo. Did you see a broken link this this repo? if not I'll close this.

[2016-08-12 15:22] obastemur commented on #108
@munyirik Thanks

[2016-08-12 15:22] #108 closed

[2016-08-18 10:00] fmalekpour opened #109 "console.log"
Using Node.js Tools for UWP Apps 1.5.4, I can't get console.log to work, it does not give any error and app works fine on Windows IoT on Raspberry Pi 3, but no sign of console.log in output window.

[2016-08-18 15:20] munyirik commented on #109
Can you check thta you're passing '--debug' to node in the project properties? It's required for console.log to redirect to the output window.
![image](https://cloud.githubusercontent.com/assets/8389594/17779443/80a70e06-651c-11e6-86a8-19bcb683949c.png)

[2016-08-18 19:22] fmalekpour commented on #109
That did the trick. Thanks.

[2016-08-18 19:22] #109 closed

[2016-09-02 04:37] munyirik commented on #107
I'm running into this issue. My repro steps:
1. Create new J5 project.
2. Do 'Update npm packages' to run npm dedupe and patch serialport.
3. F5

When I do this I got a path too long error (I think this is what you hit too) - there are two copies of serialport, one in the node_modules root and one in the firmata package. When I fix the issue (remove the one in firmata), that's when I get the Aggre

[2016-09-02 05:03] munyirik commented on #107
So I rebooted my RPi and was able to deploy the app. Seems like the first long path error is what messes things up. But even though I can deploy now, J5 is not working for me (exits with error 0xc0000409). Also on about the 5th deploy my RPi rebooted. Seems like my device is messed up. @paulmon I think this is similar to what happened to you right?

[2016-09-02 17:48] paulmon commented on #107
The problems I was seeing were always fixed by rebooting the RPi.  When the path was too long the vs code extension would fail to copy them, and setting the reg key didn't fix deploying a file since server seemed to have a check for MAX_PATH

[2016-09-06 22:06] #104 closed

[2016-09-06 22:07] munyirik commented on #102
Fixed in https://github.com/ms-iot/ntvsiot/releases/tag/v1.5.5

[2016-09-06 22:07] #102 closed

[2016-09-06 22:09] munyirik commented on #80
Update: While the latest release doesn't fix this problem we are actively working to resolve the long path limit on Windows IoT Core.

[2016-09-06 22:40] munyirik opened #112 "Fix process.cpuUsage and process.memoryUsage"
These functions currently don't work:
- https://nodejs.org/dist/latest-v6.x/docs/api/process.html#process_process_cpuusage_previousvalue
- https://nodejs.org/dist/latest-v6.x/docs/api/process.html#process_process_memoryusage

There are APIs that can be used to get the cpu and mem usage within UWP apps that can be used.

[2016-09-07 23:57] munyirik commented on #107
Some more info...
* This will repro with the Cylon template as well (so basically any project that causes the deployment error in https://github.com/ms-iot/ntvsiot/issues/80)
* The only workaround to work for me after getting the AggregateException is:
  * Restart Visual Studio
  * Reboot the target device
  * Open the project again and F5

[2016-09-13 22:47] munyirik commented on #107
Closing this. I'll provide long path updates with https://github.com/ms-iot/ntvsiot/issues/80

[2016-09-13 22:47] #107 closed

[2016-09-13 23:00] munyirik commented on #80
@rondagdag et al,
You can enable long paths on IoT Core by running

*reg add "HKLM\SYSTEM\CurrentControlSet\Control\FileSystem" /t REG_DWORD /d 1 /v LongPathsEnabled /f*

Note that a reboot may be required after setting the registry key. This will work on the latest IoT Core build [14393](https://developer.microsoft.com/en-us/windows/iot/docs/releasenotesrtm). Setting this reg key should get rid o

[2016-09-14 18:36] munyirik opened #113 "Improve deploy performance"
Apps with a huge amount of files take can take several minutes to deploy. For example the [azure sample](https://developer.microsoft.com/en-us/windows/iot/samples/azuredatauploader) can take over 10 minutes to deploy (~30MB/6000files to copy). That's a lot of files but it's still takes too long. Significant improvement could be made using compression and filtering unused files (e.g. .md files, "te

[2016-09-26 19:30] #80 closed

[2016-10-20 23:48] munyirik commented on #113
Fixed in v1.5.6

[2016-10-20 23:48] #113 closed

[2016-10-20 23:48] munyirik commented on #78
Fixed in v1.5.6

[2016-10-20 23:48] #78 closed

[2016-10-21 06:58] mmccullo commented on #62
@jessekaplan consider the scenario where you have a single foreground UI app and a background task that handles low-level details. The documentation for IoT states that shared memory is not an option and that data sharing should occur via persistent storage.

Without the ability of the background task to create files, the data sharing between tasks (i.e. apps) can only be one-way -- from the UI ap

[2016-10-21 15:21] jessekaplan commented on #62
Still no word on a long term fix, but you have two good options here.

I would recommend that you take advantage of the "AppServices" feature that is designed to allow different apps to easily communicate with each other. Under the covers it uses named pipes, but the API allows a very easy string based messaging system. We actually have a sample of a C# app communicating with an Arduino-compatible

[2016-10-21 20:46] munyirik commented on #62
@mmccullo the zip file below has a sample of how appservices can be used. The example is using a node background app and a C# background app (but it would work with a foreground app too).

[app_services_sample.zip](https://github.com/ms-iot/ntvsiot/files/545175/app_services_sample.zip)

[2016-10-24 17:30] mmccullo commented on #62
@jessekaplan it appears GetPublisherCacheFolder() is not implemented on Windows 10 IoT Core. When I try to use it in a C++/CX app, I get:

StartupTask.cpp(239): error C2039: 'GetPublisherCacheFolder': is not a member of 'Windows::Storage::ApplicationData::Current'
StartupTask.cpp(239): error C3861: 'GetPublisherCacheFolder': identifier not found

.NET library items are generally not available in n

[2016-10-24 22:06] jessekaplan commented on #62
Thanks for letting us know about your issues with GetPublisherCacheFolder, we are looking into it.

It is actually available on IoT Core and we've verified it for C# apps, but have repro'd the error you are seeing with C++/CX. This is actually a Windows UWP API, not a .Net one, and so should be fully supported for C++/CX and not just C#. We'll keep you appriased of our progress.

[2016-10-25 17:17] munyirik commented on #62
@mmccullo when I reproduced the error I was doing the following (which I think you were too):
ApplicationData::Current::GetPublisherCacheFolder("foo");
Try doing this:
ApplicationData::Current->GetPublisherCacheFolder("foo");

[2016-11-03 14:59] psled opened #119 "Support for sqlite3 npm package"
I'm installing native sqlite3 npm package with following command:

`npm install sqlite3 --save --target_arch=x64 --node_uwp_dll`

When I try to use that package I'm getting a runtime error (I guess because of I installed a standard Win32 version instead of UWP one):

[code]

I'm also trying to install above package with additional `--build-from-source` option but it fails as well, this time during

[2016-11-03 19:05] munyirik commented on #119
We didn't have plans to support it but I'll look into it in the next couple of days. I'll keep you posted.

What kind of app are you building if you don't mind me asking?

[2016-11-03 22:25] psled commented on #119
Thanks for a quick reply.

My scenario might be quite specific and not really relevant to others. I'm only considering it as one of possible solutions (still not sure if it is a correct one).

I'm going to integrate a medium-sized local area network backend already written in Node.js (Express, REST, WebSocket, Database, SerialPort etc.) with native, also already written, UWP C++/CX GUI app.

At th

[2016-11-09 14:27] jjbenjohn commented on #62
@aronbardsley Sorry to jump in so late on this thread, but I'm having similar issues on IoT for a RPi3 project I'm currently working on.  Back in January, you said "This is is now working with a UI app that is deployed to the raspberry pi. Selecting the file type extensions worked as expected (for the most part, see below). I can now access removable storage on the Raspberry Pi."

For my project,

[2016-11-10 00:50] munyirik commented on #119
Hi @psled,
I had a chance to look into this and here's what I found:

1. If you want to get around the UWP loopback policy, you can. Use the following steps:
  * Run `reg add hklm\system\currentcontrolset\services\mpssvc\parameters /v IoTInboundLoopbackPolicy /t REG_DWORD /d 1` and reboot the machine.
  * Ensure that the app is loopback exempt. To do this run `CheckNetIsolation LoopbackExempt -a -

[2016-11-10 07:59] psled commented on #119
Thank you very much for a help, @munyirik .

I'm not in rush with that integration process and I guess I will stick with a present solution for a moment.

However, it's good to know that it's technically possible to use sqlite3 inside UWP and I will try it in a meantime (based on you instructions).

[2016-11-10 20:37] munyirik commented on #119
@psled I've update the steps to build. Simply update the gyp file for sqlite3 and you can build and use it in your UWP app.

[2016-11-11 16:13] psled commented on #119
Just confirming that based on your instructions I was able to successfully run simple Node.js test app using sqlite3 inside UWP.

[2016-11-16 10:00] aronbardsley commented on #62
Hi John,

In the scenario I am working with, my app is the only one running on the device. I don't need to worry about hibernation or resume power states - which may be a factor in why you are attempting to use a background task?

I created a new UI app and I run everything by using an async task:

`                Task ta = new Task(() =>
                {
                    BackgroundController

[2016-11-27 21:32] hubert-associates commented on #62
Hi, any word on a fix for this problem? I can access an FDTI  USB serial device from my IoT-Core/UWP/C#/Background-Task fine. Is there now a supported way to read a simple .txt from a USB-flash-drive in one of the USB ports? We need this, since there is no support for getting the unique hardware-ID from an iot-core/UWP ( RPi ). I can get the ID fine if I use linux on the same board. Anyway, as sil

[2016-11-28 20:12] munyirik commented on #62
The workaround suggested in http://stackoverflow.com/questions/34754668/access-denied-error-when-accessing-usb-stick-files-in-windows-iot-core-app worked for me.
You need to create an empty headed app, add it as a reference to the headless app, then add 'Executable' and 'EntryPoint' of the headed app to the headless app manifest (see image below)
![capture](https://cloud.githubusercontent.com/asse

[2016-11-28 20:56] hubert-associates commented on #62
Thanks, I'll try this. Had some timing problems with headed, but will try again. Could you possibly share your manifest? since the syntax is not quite intuitive. :-)

[2016-11-28 20:59] munyirik commented on #62
Here it is
[Package.appxmanifest.txt](https://github.com/ms-iot/ntvsiot/files/617448/Package.appxmanifest.txt)

[2016-11-29 14:28] nVentis opened #120 "Node UWP App deployment blocked by group policy on Windows 10 Desktop"
(The same question can be found [onStackOverflow](http://stackoverflow.com/questions/40795000/node-js-for-uwp-blocked-by-group-policy/40795026))

After having developed a small ("vanilla") Node JS application, I tried to deploy it to Windows 10 IoT. This worked successfully, but I'm experiencing an unknown error that leads to the app (and the remote debugger) instantaneously being closed / stopped

[2016-11-29 14:29] nVentis commented on #120
Please, do also note the following error I got from the event log

`Failed with 0x490 modifying AppModel Runtime status for package [...] for user [...] (current status = 0x0, desired status = 0x20).`

[2016-11-29 18:28] munyirik commented on #120
Hi, so if you're using to Windows 10 IoT Core you don't need to do anything extra to deploy [background apps](https://developer.microsoft.com/en-us/windows/iot/docs/backgroundapplications) (Node.js UWP runs as a background app).
However, if you're targeting Windows 10 desktop or mobile, you need to enable Embedded mode (the error you see is because of this). Follow the instructions in the link [he

[2016-11-29 18:31] munyirik commented on #120
I just saw that in your StackOverflow post you had enabled Embedded mode. Do you only see the error in the event log or does the dialog still come up as well? Also can you let me know what your OS Version is? (you can get this by running 'systeminfo' in a cmd window).

[2016-11-29 18:37] nVentis commented on #120
Hey, the second error I provided in the comment only shows up in the event log. The error that is shown is the one you can see in my original post.

My OS Version is 10.0.14393.

[2016-11-29 18:39] munyirik commented on #120
Is there any error in the VS output window or does it just hang when you try and deploy?

[2016-11-29 18:44] nVentis commented on #120
The dialog appears, I click OK, and it disappears. What's really surprising to me is that all this still happens even though I reinstalled Windows through a "vanilla" Microsoft MDT deployment. No configuration / etc. was changed, so I'm wondering why I'm the only one with this error...

[2016-11-29 18:49] munyirik commented on #120
Can you check if you also have 'Developer mode' set? The setting is in Settings->For developers...
![capture](https://cloud.githubusercontent.com/assets/8389594/20724001/7ea9f1e4-b621-11e6-996c-b2b885693d4c.PNG)

[2016-11-29 18:56] nVentis commented on #120
I've checked developer mode and also looked up in the registry if everything is fine (`HKLM/Software/Microsoft/Windows/CurrentVersion/AppModelUnlock`). There, both `AllowAllTrustedApps` and `AllowDevelopmentWithoutDevLicense` are set to `1`.

However, I'm not sure if it's intended behavior that whenever I open the developer options, Windows seems to search for the developer package even though I s

[2016-11-29 19:24] munyirik commented on #120
I think you can ignore the "Searching package..." message. On my desktop the message is that the package is not accessible but I can still deploy.
Just to narrow things down. Can you try deploying a C# or C++ background app? (the templates for them are here - https://marketplace.visualstudio.com/items?itemName=MicrosoftIoT.WindowsIoTCoreProjectTemplates)

[2016-11-29 19:36] nVentis commented on #120
I get the same error as with Node UWP.

![error](https://cloud.githubusercontent.com/assets/8898665/20725842/78418f72-b673-11e6-9734-3cb9d50aaeb2.png)

[2016-11-29 19:43] munyirik commented on #120
@paulmon any ideas?

[2016-11-29 22:45] paulmon commented on #120
This error message usually means that the Embedded Mode service is not running.
Try starting it from the services control panel, or by running **sc.exe start embeddedmode**

[2016-11-30 14:39] nVentis commented on #120
It seems like there is a problem with the service. Whenever I start it, the service seems to stop immediately afterwards.

![error](https://cloud.githubusercontent.com/assets/8898665/20756433/f467475a-b712-11e6-937b-4770fcda03f9.png)

![error 2](https://cloud.githubusercontent.com/assets/8898665/20756436/f8069c76-b712-11e6-8d5d-abefa74ecfb0.PNG)

Some services are stopped automatically if they are

[2016-11-30 15:47] nVentis commented on #120
It seems like there is a problem with the service. Whenever I start it, the service seems to stop immediately afterwards.

![error](https://cloud.githubusercontent.com/assets/8898665/20756433/f467475a-b712-11e6-937b-4770fcda03f9.png)

![error 2](https://cloud.githubusercontent.com/assets/8898665/20756436/f8069c76-b712-11e6-8d5d-abefa74ecfb0.PNG)

Some services are stopped automatically if they are

[2016-11-30 17:58] paulmon commented on #120
Have you followed these directions to [enable embedded mode](https://developer.microsoft.com/en-us/windows/iot/docs/embeddedmode)?
Please note that embedded mode is different than developer mode.
You can verify that the embedded mode provisioning package has been added by searching for "Add or remove a provisioning package" in settings.
Or **Settings>Accounts>Access Work or School>Add or remove a

[2016-12-02 13:52] nVentis commented on #120
Thank you for your effort, @paulmon and @munyirik !

There seems to be a problem when installing the provisioning package. After installing it, there is no error displayed. However, failing deployments (with the error mentioned above) in Visual Studio already indicate that the package could not be installed.

When restarting, the menu mentioned by @paulmon also shows the following:

![error](https

[2016-12-05 22:54] paulmon commented on #120
That .ppkg worked when I tested it.
What version and build of windows are you running?
Enterprise, Professional, etc. and build number.
You should be able to see that information by running winver.exe

[2016-12-09 13:25] nVentis commented on #120
Result of executing winver.exe:

![error](https://cloud.githubusercontent.com/assets/8898665/21050491/497950f8-be1b-11e6-915d-310d25bb9276.PNG)

[2016-12-13 18:22] paulmon commented on #120
I'm trying to track down how to diagnose the problem.  Thank you for your patience.

[2017-01-23 22:11] IoTGirl commented on #79
Hi Munyiri,
Has this bug been addressed? Can you please provide and update?
Sincere thanks,
IoTGirl

[2017-01-23 22:14] IoTGirl commented on #73
Hi Munyiri,
Issue #100 has been closed. Can we get a status on this issue?
Sincerely,
IoTGirl

[2017-01-23 22:14] munyirik commented on #79
Closing this. For now, only critical bugs will be fixed.

[2017-01-23 22:14] #79 closed

[2017-01-23 22:14] munyirik commented on #73
Closing this. For now, only critical bugs will be fixed.

[2017-01-23 22:14] #73 closed

[2017-01-23 22:29] munyirik commented on #112
Closing for now unless it becomes higher priority in the future.

[2017-01-23 22:29] #112 closed

[2017-02-27 18:20] jensrad commented on #119
Hi munyirik,
how described in another Forum ;-) I've got the same Problem. I tried to follow your recommend steps. Unfortunately this was not working. So this is what I did:

- Clone [https://github.com/mapbox/node-sqlite3](https://github.com/mapbox/node-sqlite3) => OK
- Replace node-sqlite3\deps\sqlite3.gyp with sqlite3.gyp.txt (remove the .txt extension). => OK
- In cmd window, cd to node-sqlite

[2017-03-03 05:47] patsissons opened #122 "Cannot start when using the direct memory mapped driver"
Testing out the hello world sample, verbatim.

The debugger seems unable to properly attach (breakpoints not hit), but the console is connected as my `console.log()` tests came through. Process exits about a second after creating the http server. As soon as i went back to the inbox driver everything started to work just fine.

NOTE: i was not using any of the new lighting stuff, but perhaps you st

[2017-03-06 17:55] munyirik commented on #122
Hi @patsissons, could you tell me what your IoT Core build number is?

[2017-03-06 18:20] patsissons commented on #122
Hey sorry, this was on the latest version of IoT Core (i think that is 14393), running on a pi 3.

[2017-03-06 18:59] IoTGirl commented on #122
Do you know the update value?  The latest is 14393.693 but if you just provisioned the device it could still be 14393.0 without the latest updates.

[2017-03-06 19:21] munyirik commented on #122
I just tried this. With the capability it works. Without the capability then yes, you will get an exception...

The node.js lightning sample document mentions the need to add the capabilities ([this link](https://developer.microsoft.com/en-us/windows/iot/samples/helloblinkynodelightning)).
I can add a note in the sample you used. I'm assuming you were using the steps in [this sample](https://devel

[2017-03-06 19:25] patsissons commented on #122
Yea I had been testing out the new lightning stuff and forgot to revert the driver, so it was a bit unexpected why the sample was not working. I'll note though, my exit code was zero (and debugger wasn't properly attaching), so that was the reason why I didn't immediately think about the driver.

[2017-03-06 19:50] munyirik commented on #122
Ok. Something in the future that can help with debugging is the --use-logger option. See https://github.com/ms-iot/ntvsiot#console

[2017-03-06 19:51] patsissons commented on #122
I had done that too, but the log file generated was largely empty. I wasn't getting any context why the process was exiting immediately, just enough context to know it was at least running all of my javascript code before exiting.

[2017-03-06 19:52] munyirik commented on #119
Sorry for the delay (I was out of the office). I'll respond today...

[2017-03-06 20:35] munyirik commented on #119
It looks like you didn't "cd to node-sqlite3". You need to run the command in the node-sqlite3 clone folder. The error in your log is that binding.gyp wasn't found which will normally be in that folder.

[2017-03-07 07:22] jensrad commented on #119
Hi, thanks for comming back. I hope you have had a nice holiday :-).
Yes you are right, I missed the tip to work inside the folder. Unfortunately there are other things going wrong. According to the picture the declaration of `node_engine_libs` is missing. Testwise I put the declaration to the file `binding.gyp`. After that then comes up the error that declaration of `node_engine_include_dir` is m

[2017-03-07 18:26] munyirik commented on #119
There was a missing step I my list. You also need to run "npm install nan" since you'll need nan to build   the node-sqlite3 module.

Another thing to confirm. If you run "where node" make sure that it's the node-chakra versionnnnn (C:\Program Files\NodejsUwp\Console\node.exe) that is first on the list.

Lastly, I've tested this with some newer builds on Windows and it will not build at all. The p

[2017-03-07 19:29] jensrad commented on #119
Thank you for Information. So with this last Information I could build. As summery what I've done:

- git clone [https://github.com/mapbox/node-sqlite3](https://github.com/mapbox/node-sqlite3)
- Replace node-sqlite3\deps\sqlite3.gyp with sqlite3.gyp.txt (remove the .txt extension)
- open cmd-Window
   => check the order of node.js installations (C:\Program Files\NodejsUwp\Console\node.exe must com

[2017-03-20 20:39] nkarakotas opened #123 "uwp.projectNamespace loading class library"
Hi,

I tried to load a class library using uwp.projectNamespace('MyLib') and it seems to partially load it.
I can see all the classes in object viewer but when I try to access them only the namespace is available. I have some public enums in the library and I cant seem to access them also.
Are we able to load class libraries or only windows runtime component?

Nikolas

[2017-03-20 21:26] IoTGirl commented on #123
Hi @nkarakotas,

This ntvsiot GitHub starts it's explanation with:

Can you confirm that your project is in Node JS?  In looking at [readme.md](https://github.com/ms-iot/ntvsiot/blob/vs2017/README.md) can you explain where the failure happens for you when following these instructions?

Sincerely,
IoTGirl

[2017-03-20 21:45] nkarakotas commented on #123
Hi,

Yes the project is in Node JS using visual studio project wizard.
In readme here onwards:
##Referencing winmd files You can reference a C# or C++ UWP component in your Node.js UWP app by using the Visual Studio reference manager.

Example of library loaded:
![image](https://cloud.githubusercontent.com/assets/3674402/24123177/ce047cc4-0dbe-11e7-9787-2cf2041bfe08.png)

[2017-03-20 22:23] munyirik commented on #123
Hi @nkarakotas only windows runtime components are supported.

[2017-03-30 00:46] sethreidnz opened #124 "Deleting my "scripts" when deploying"
I am attempting to use the UWP tools for deploying a node server to my Raspbery Pi 3 and it seems to want to replace my scripts section when I deploy. Example is here

[https://github.com/sethreidnz/Node.Iot.Experiment](https://github.com/sethreidnz/Node.Iot.Experiment)

I don't really understand why it would need to do this at all... Any ideas on how we can fix this? Another approach would be to

[2017-04-07 04:24] vinstce commented on #120
Hi @nVentis and @paulmon, were you able to find a resolution for this issue? I too facing the same issue and stumbled upon this thread.

[2017-04-16 13:49] wind-rider opened #126 "Cannot deploy Basic Node.JS Express 4 Application (Universal Windows) with VS2017"
I'm using VS2017 + latest updates. I installed https://github.com/ms-iot/ntvsiot/releases/tag/v1.5.7.

When creating a `Basic Node.JS Express 4 Application (Universal Windows)` and try to deploy it to Windows IoT Core 15063, I get the following errors:

[code]

[2017-04-17 16:45] munyirik commented on #126
Hi @wind-rider,
That's a known bug. To workaround the problem, first deploy a C++ UWP app to your device (see image below). You only need to do this one time. The problem is that the Node.js project system doesn't automatically deploy the Microsoft.VCLibs.140.00 framework which it requires.

![image](https://cloud.githubusercontent.com/assets/8389594/25095863/4f8cd716-2352-11e7-9aa3-dedddef55ed8.p

[2017-04-17 17:04] munyirik commented on #124
Hi @sethreidnz,
Deployment shouldn't be deleting what's been manually added to scripts so that's a bug.
If I understand correctly, you just want to run the 'npm run build' command automatically every time you build?
Using prebuild in the project file should work but I think you need to put the command in a \<command\> tag (see https://msdn.microsoft.com/en-us/library/dd293582.aspx)

[2017-04-17 17:14] munyirik commented on #124
Something else to note is that building packages with native code requires using [these](https://github.com/ms-iot/ntvsiot#installing-npm-packages) instructions. Also the code you're trying to build needs to be UWP compatible.
UWP can be limiting depending on what you're trying to do.
If you want to use 'node.exe' command line you have the option to use [node-chakracore](https://github.com/nodejs/

[2017-04-17 21:38] sethreidnz commented on #124
Yes all I'm doing is building my client app (as you would in any other web project) and copying those files into a node application that will serve up the plain old HTML client app.

the issue is that when I run a deploy from Visual Studio it seems it looks at my root `package.json` file and replaces the whole script section so before it is like this:

[code]

After it is like this:

[code]

Meani

[2017-04-18 17:29] munyirik commented on #124
The samples below would be a good starting point:
https://developer.microsoft.com/en-us/windows/iot/samples/helloblinkynode
https://developer.microsoft.com/en-us/windows/iot/samples/memorystatusnodejs

Couple of things to note:
1. You should use the latest release of node-chakracore from [here](https://github.com/nodejs/node-chakracore/releases). The sample docs still point to older versions.
2. T

[2017-04-18 17:29] #123 closed

[2017-04-25 19:18] wind-rider commented on #126
@munyirik does it matter which toolset (v140 or v141) is being used?

Deploying the app type you showed doesn't help ;/

[2017-04-25 19:21] munyirik commented on #126
It shouldn't matter. The template may not be there if you didn't install C++ tools with VS 2017 (not 100% sure about this). Can you try deploying a C# universal windows app? I believe the vc libs will get copied with that type of app as well.

[2017-04-25 19:39] munyirik commented on #126
Ok, I'll need to look into it. There's also [another issue](https://social.msdn.microsoft.com/Forums/en-US/b072eea2-c0ad-4371-a512-90db64dc6221/express-error-with-require-in-nodejs-app-raspberry-pi3?forum=WindowsIoT) with the Express (using Node.js UWP) which would block you from running the app once you deployed.

In the meantime you can still run the console version node.js on IoT Core using [no

[2017-05-12 04:09] m59peacemaker commented on #120
I'm on Windows 10, 1703 and Visual Studio 2017 and I get the group policy error, too.
I added and removed the AllowEmbedMode .ppkg a bunch of times, as well as adding it when it was already added which produces a different error. The normal error I get is that the policy is not allowed. For no apparent reason, it eventually appears under the account settings as being installed (no error). I still

[2017-05-14 12:42] binaryangel-noah opened #127 "No Application templates with Visual Studio 2017"
Hallo,

i installed the extension on VS2017 and dont see the templates for nodejs uwp. The last releast that has been made is for VS2017 RC.
Is this Repository still maintained and can we hope for a update to current version of Visual Studio 2017 ?

[2017-05-16 16:20] IoTGirl commented on #127
Hi @binaryangel-noah ,

Have you reviewed the already open issue https://github.com/ms-iot/ntvsiot/issues/126 for steps to use with VS2017?

Sincerely, IoTGirl

[2017-05-16 17:00] milt0r commented on #127
I had the same issue. Install ntvsiot from here: https://github.com/ms-iot/ntvsiot/releases/tag/v1.5.7

[2017-06-14 21:35] munyirik opened #128 "Unable to query Azure DB from Windows 10 IoT Core"
Version: v5.10.1-0
Platform: Windows 10 IoT Core
Subsystem: node-mssql , tedious

I'm unable to query Azure MS SQL DB from Windows 10 IoT Core (Raspberry Pi). Will this ever be supported or it already should be?

I've created sample so we can reproduce issue:
https://github.com/matejv1/nodejs.universal-windows-app.connect-to-azure

It works on Windows 10 - if I just run "node server.js". When debu

[2017-06-14 21:38] munyirik commented on #128
cc @paulmon @msalehmsft

[2017-06-14 23:25] digitalinfinity commented on #128
cc @matejv1 in case you're still interested in this issue

[2017-06-28 16:29] robintel commented on #127
Having installed the 1.5.7 version, and allowing for NodeJS development in Visual Studio 2017, I still don't see the template.

[2017-07-19 15:39] ummarbhutta commented on #62
Any update on this? I want to store sqlite database file in external storage, extension of file is .sqlite. I am using Windows IoT Core on RPi 3 with background application. I don't want to add a useless foreground application to my existing structure for this, any other proper solution? One I know is to use the well known media extensions like .jpg, .png (of course adding suitable capabilities as

[2017-07-19 18:02] paulmon commented on #62
The workaround is still required.  Your patience while we work to fix this pain point is appreciated

[2017-10-15 21:26] nVentis commented on #120
It seems like the problem has been resolved until now. Haven't tried this for quite a while now, but with Windows 10 15063.632 and Visual Studio 2017, everything seems to work as expected. Note that, in contrast to former Windows versions, only with this version I was able to finally install the PKKG file without getting an error.

Visual Studio will just run the project locally fine. Problem reso

[2018-01-11 04:41] lprichar commented on #62
Any updates to this issue?  It's been two years since the original issue and the workaround is kind of a pain for deployment.

[2018-01-15 16:59] antonellopasella opened #129 "OSX Support?"
Is there any way to install it on OSX?

thanks!

[2018-01-16 19:44] paulmon commented on #129
Not that I am aware of.  @munyirik

[2018-01-16 20:06] munyirik commented on #129
OSX isn't supported